stages:
    - check
    - fun

laptop:
    stage: check
    tags:
        - nix
    script: 
        - nix build .#checks."x86_64-linux".laptop --extra-experimental-features 'flakes nix-command pipe-operators' -L

mini:
    stage: check
    tags:
        - nix
    script: 
        - nix build .#checks."x86_64-linux".mini --extra-experimental-features 'flakes nix-command pipe-operators' -L

desktop:
    stage: check
    tags:
        - nix
    script: 
        - nix build .#checks."x86_64-linux".desktop --extra-experimental-features 'flakes nix-command pipe-operators' -L

tablet:
    stage: check
    tags:
        - nix
    script: 
        - nix build .#checks."x86_64-linux".tablet --extra-experimental-features 'flakes nix-command pipe-operators' -L

mensa-sh:
    stage: fun
    tags:
        - nix
    needs: []
    script: 
        - nix build github:lomenzel/nixpkgs/mensa-sh-gnome-init#legacyPackages.armv7l-linux.pkgsCross.gnu64.mensa-sh --extra-experimental-features 'flakes nix-command pipe-operators' -L