.tabbrowser-tab {
    visibility: collapse;
}
.titlebar-button {
    height: 27px !important;
}
#nav-bar {
    margin-top: -35px;
    margin-right: 0px;
    box-shadow: none !important;
    background-color: var(--accent-color) !important;
}


#sidebar-box {
  width: 10cm
}

#urlbar #urlbar-background {
  background-color: var(--inactive-window-accent-color) !important;
}
#urlbar #urlbar-background:-moz-window-inactive {
    background-color: var(--inactive-window-accent-color) !important;
  }

#urlbar[focused] #urlbar-background {
  background-color: var(--inactive-window-accent-color) !important;
}

#navigator-toolbox {
  border-bottom: none !important;
}

#TabsToolbar {
  background-color:var(--accent-color) !important;
}

#TabsToolbar:-moz-window-inactive,
#nav-bar:-moz-window-inactive {
  background-color: var(--inactive-window-accent-color) !important;
}

#sidebar-box + splitter {
  width: 0px;
  visibility: collapse;
  display: none !important;
}
#tabbar {
  background-color: var(--accent-color) !important;
}

[uidensity="compact"]:root .titlebar-button {
    height: 32px !important;
}
[uidensity="compact"]:root #nav-bar {
    margin-top: -32px;
}

#titlebar-spacer {
    background-color: var(--chrome-secondary-background-color);
}
#titlebar-buttonbox-container {
    background-color: var(--chrome-secondary-background-color);
}
.titlebar-color {
    background-color: var(--toolbar-bgcolor);
}

#main-window[inFullscreen="true"] #sidebar-box,
#main-window[inFullscreen="true"] #sidebar-box + splitter {
    visibility: collapse;
}

#sidebar-box #sidebar-header {
    display: none !important;
}


menu:not([disabled="true"])[_moz-menuactive="true"], menuitem:not([disabled="true"])[_moz-menuactive="true"] {
  background-color: var(--accent-color) !important;
  color: var(--default-foreground) !important;
}